Flask==0.10.1
Flask-OAuth==0.12
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
argparse==1.2.1
cssselect==0.9.1
distribute==0.6.35
flask-mwoauth==0.1.31
-e git+https://github.com/wikimedia/pywikibot-externals-httplib2.git#egg=httplib2
itsdangerous==0.23
mwparserfromhell==0.1.1
oauth2==1.5.211
pyquery==1.2.4
requests==2.0.1
stevedore==0.9.1
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==3.7
-e git+https://github.com/SpazioDati/Wikipedia-Template-Parser.git#egg=wikipedia_template_parser
wsgiref==0.1.2
