{% extends 'base.html' %}

{% block title %}Seleziona le coordinate{% endblock %}

{% block body %}
  <span>Puoi modificare la pagina come utente anonimo, incollando questo testo.</span>

  <div id="wiki-anon-edit">
    <h3>Differenza tra le versioni</h3>
    <section>
      <p>Di seguito viene visualizzata la modifica applicata alla voce:</p>
      <div class="container">
        {{ difftable }}
      </div>


      <p>Copia il testo nella casella sottostante nella pagina: <a href="https://it.wikipedia.org/w/index.php?title={{title}}&action=edit&section={{section}}">{{ title.replace('_', ' ')|unquote }}</a>.<br />
      <span style="font-size:x-small;">(Ricordati di leggere le avvertenze su Wikipedia prima di salvare ;-) )</span></p>

      <form name=anonform>
        <textarea name=anon-textarea rows={{textarea_default_height(new_text)}} readonly>{{new_text}}</textarea>
      </form>

    </section>
  </div>
{% endblock body %}