{% extends 'base.html' %}
{% block scripts %}
  <script type="text/javascript" src="{{root}}js/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="{{root}}js/app/index.js"></script>
{% endblock %}

{% block title %}Wikipedia-tags-in-OSM app test{% endblock %}

{% block header %}Wikipedia-tags-in-OSM app beta test{% endblock %}


{% block content %}

<p>Questa è una installazione di test per l'inserimento, attraverso Wikipedia-tags-in-OSM delle coordinate da OpenStreetMap su Wikipedia.</p>

<nav role='navigation' class='table-of-contents'>
  <h2>Indice:</h2>
    <ul>
      <li><a href="#login-oauth">Login su Wikipedia con Oauth</a>
        <ul>
          <li><a href="#login-logout">Login/Logout</a></li>
        </ul>
      </li>
      <li><a href="#istruzioni">Istruzioni</a></li>
      <li><a href="#troubleshooting">Troubleshooting</a></li>
      <li><a href="#credits">Credits</a></li>
    </ul>
</nav>
<br clear="both" />

<h2 id="login-oauth">Login su Wikipedia con Oauth</h2>
{% if (not username) %}
  <p>Non hai effettuato il login su Wikipedia.</p>
{% endif %}

{% if username %}
  <p>Hai effettuato il login su Wikipedia con lo username: <a href="http://it.wikipedia.org/wiki/Utente:{{username}}">{{username}}</a></p>
{% endif %}

<h3 id="login-logout">Login/Logout</h3>
<div id="box-login" class="box-log">
  <a href="../app/login">Login</a>
</div>

<div id="box-logout" class="box-log">
  <a href="../app/logout">Logout</a>
</div>


<h2 id="istruzioni">Istruzioni</h2>

<ol>
  <li>Scegliamo una voce senza coordinate in Wikipedia, ma linkata da OSM, per esempio la <a href="https://it.wikipedia.org/wiki/Piramide_Cestia">piramide Cestia</a> a Roma (<a href="javascript:toggle_img('piramide-cestia')">visualizza immagine</a>).</li>
  <span id="piramide-cestia" class="img-instructions"><img src="../../app/img/Piramide_Cestia.png" /></span>

  <li>Cliccando sul template si apre un popup (<a href="javascript:toggle_img('map-popup')">visualizza immagine</a>).</li>
  <span id="map-popup" class="img-instructions"><img src="../../app/img/map_popup.png" /></span>

  <li>sulla mappa ci sono due marker: uno blu (fisso) ed uno rosso (spostabile), quello blu è il centroide dell'oggetto calcolato a partire da OSM.<br />
  È possibile spostare il marker in una nuova posizione desiderata, se necessario (<a href="javascript:toggle_img('drag-marker')">visualizza immagine</a>).<br />
  <span id="drag-marker" class="img-instructions"><img src="../../app/img/drag_marker.png" /><br /></span>
  Un messaggio informerà quali sono le nuove coordinate del marker, che poi saranno quelle inserite in Wikipedia. Queste coordinate sono visibili anche sotto alla mappa (<a href="javascript:toggle_img('drag-marker-result')">visualizza immagine</a>).
  <span id="drag-marker-result" class="img-instructions"><img src="../../app/img/drag_marker_result.png" /></span>
  </li>

  <li>Cliccando sull'icona con il (+) (si veda ancora l'immagine al punto 2):
    <ol>
      <li> 4a) (se non lo si è già fatto in precedenza) si viene redirezionati a Wikipedia in Italiano dove viene chiesto di effettuare il login con il proprio account (<a href="javascript:toggle_img('wikipedia-login')">visualizza immagine</a>)<br />
        <span id="wikipedia-login" class="img-instructions"><img src="../../app/img/wikipedia_login.png" /><br /></span>
      </li>
      <li> 4b) viene richiesta l'autorizzazione da parte dell'applicazione ad effettuare modifiche alle pagine di Wikipedia con il proprio nome utente (<a href="javascript:toggle_img('wikipedia-auth')">visualizza immagine</a>)<br />
        <span id="wikipedia-auth" class="img-instructions"><img src="../../app/img/wikipedia_auth.png" /></span>
      </li>
    </ol>
  </li>

  <li>Si ottiene una anteprima delle modifiche alla pagina (<a href="javascript:toggle_img('preview-top')">visualizza immagine</a>)<br />
  <span id="preview-top" class="img-instructions"><img src="../../app/img/preview_top.png" /><br /></span>
  La sezione rilevante (tipicamente quella iniziale) è riportata per intero nella casella di testo, si può quindi salvare (<a href="javascript:toggle_img('text-preview')">visualizza immagine</a>)<br />
  <span id="text-preview" class="img-instructions"><img src="../../app/img/text_preview.png" /><br /></span>
  (i punti 4a e 4b vengono effettuati solo la prima volta)
  </li>

  <li>
  Si riceve un messaggio se il salvataggio è andato a buon fine (<a href="javascript:toggle_img('success-message')">visualizza immagine</a>)
  </li>
  <span id="success-message" class="img-instructions"><img src="../../app/img/success_message.png" /></span>

  <li>
  Si può quindi verificare nei propri contributi utente che appare la modifica appena fatta (ed è automaticamente <a href="https://it.wikipedia.org/wiki/Speciale:Etichette">etichettata</a> con "wtosm") (<a href="javascript:toggle_img('wikipedia-diff')">visualizza immagine</a>)
  </li>
  <span id="wikipedia-diff" class="img-instructions"><img src="../../app/img/wikipedia_diff.png" /></span>

</ol>

<h2 id="troubleshooting">Troubleshooting</h2>

Questa applicazione è in fase beta, utilizzatela con la consapevolezza che potrebbero esserci bug e che dovreste, nel caso ne troviate, segnalarli agli sviluppatori.

Ogni problema può essere segnalato in <a href="https://github.com/simone-f/wikipedia-tags-in-osm/issues">questa pagina</a>. Questa feature (riconoscibile da tutte le url che hanno il prefisso 
<code>wtosm/app</code>) è sviluppata in questo repository: <a href="https://github.com/CristianCantoro/Wikipedia-tags-in-osm">CristianCantoro.

Se volete utilizzare la versione stabile di Wikipedia-tags-in-OSM visitate la <a href="http://geodati.fmach.it/gfoss_geodata/osm/wtosm/index.html">versione hostata dalla Fondazione Edmund Mach</a>.

<h2 id="credits">Credits</h2>
Wikipedia-tags-in-OSMN è un progetto di Simone "Groppo" F. <a href="mailto:groppo8 (at) gmail (punto) com">groppo8 (at) gmail (punto) com</a>.<br />

Hanno contribuito:
<ul>
<li>Luca "lucalelu" Delucchi</li>
<li>Cristian "CristianCantoro" Consonni: <a href="mailto:kikkocristian (at) gmail (punto) com">kikkocristian (at) gmail (punto) com</a></li>
</ul>

Il progetto ha fatto uso di diversi software e librerie esterne esistenti, consultate il <a href="https://github.com/simone-f/wikipedia-tags-in-osm/blob/master/README.md">README</a> per una lista dettagliata dei credits. 
In particolare per questa applicazione OAuth un ringraziamento va a  <a href="https://github.com/valhallasw">Merlijn "valhallasw" van Deen</a> autore di <a href="https://github.com/valhallasw/flask-mwoauth">flask-mwoauth</a> per il continuo supporto.

Il lavoro di Cristian Consonni è svolto all'interno delle attività del <a href="http://digitalcommonslab.fbk.eu/">Digital Commons Lab</a> della <a href="http://fbk.eu/">Fondazione Bruno Kessler</a>.

Il codice, <a href="http://python.org">Python</a>, è rilasciato con licenza <a href="http://gplv3.fsf.org/">GPLv3</a>

{% endblock %}
