{% extends 'base.html' %}
{% block title %}Errore: pagina non trovata{% endblock %}

{% block header %}Corbezzoli!{% endblock %}

{% block content %}
  La pagina che cercavi:<br />
  <strong><em>{{title}}</em></strong><br />
  non esiste su <a href="{{site}}">{{site}}</a>.

  <br /><br />
  (In linea di principio questo non dovrebbe succedere, a meno che tu non ti sia
  messo a giocare con le url di Wikipedia-tags-in-osm, se così non fosse contatta
  gli sviluppatori e mandagli qualche dettagli a proposito di questo errore.)
{% endblock %}
