{% extends 'base.html' %}
{% block title %}Pagina non modificata{% endblock %}

{% block header %}Uh oh!{% endblock %}

{% block content %}
  Non è stata apportata alcuna modifica alla pagina:
  <strong><em><a href="http://it.wikipedia.org/wiki/{{title | unescape}}">{{ title.replace('_', ' ')| unquote | unescape}}</a></em></strong> su Wikipedia in Italiano.<br />

  {% if referrer %}<a href="../{{referrer| unescape }}{% if id %}#{{id}}{% endif %}">Ritorna alla lista</a>{% endif %}.
{% endblock %}