<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wikipedia-tags-in-OSM</title>
    <link rel="stylesheet" type="text/css" href="../app/css/style.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>
<body>
  <div id="app-popup-preview" class="app-popup">
    <a href="javascript:void(0)" class="close"></a>
    <div id="app-popup-preview-container" class="app-popup-container">Container</div>
  </div>

  <header class="main-header">
    <div class="container">
      <h1>Inserimento in Wikipedia</h1>
      <p class="subtitle"><strong>nella voce di Wikipedia: {{ title.replace('_', ' ')|unquote }}</strong></p>
    </div>
  </header>

  <section>
    {% if not template %}
      <p>Verrà aggiunto alla voce il template &#123;&#123;<a href="https://it.wikipedia.org/wiki/Template:Coord">coord</a>&#125;&#125;
      con le coordinate ({{lat}}; {{lon}}) <span style="font-size:x-small;">(lat,lon)</span></p>
    {% endif %}
    {% if template %}
      <p>Nella pagina è già presente un template &#123;&#123;<a href="https://it.wikipedia.org/wiki/Template:{{template['name']}}">{{template['name']}}</a>&#125;&#125;
      (<a href="https://it.wikipedia.org/wiki/Template:{{template['name']}}/man">documentazione</a>). Questo template può contenere le coordinate dell'oggetto.</p>

      {% if template['has_coords'] %}
        Il template conteneva già delle coordinate <span style="font-size:x-small;">(lat,lon)</span>:
        <ul>
          <li>vecchie coordinate: ({{template['old_coords']['lat']}}; {{template['old_coords']['lon']}})</li>
          <li>nuove coordinate: ({{lat}}; {{lon}})</li>
        </ul>
      {% endif %}
      {% if not template['has_coords'] %}
        Il template non conteneva delle coordinate: le nuove coordinate ({{lat}}; {{lon}}) <span style="font-size:x-small;">(lat,lon)</span><br />
        sono state aggiunte al template.
      {% endif %}
    {% endif %}
  </section>

  <h2>Differenza tra le versioni</h2>
  <section>
    <p>Di seguito viene visualizzata la modifica applicata alla voce:</p>
    <div class="container">
      {{ difftable }}
    </div>
  </section>
  
  <h2>Nuovo testo</h2>
  <p>È possibile fare delle modifiche all'incipit della voce:</p>
  <div class="container">
    <form id='saveform' class='inputform' method="post" action="../app/edit">
        <input name=title type=hidden value="{{ title|unquote }}">
        <input name=section type=hidden value="{{ section }}">
        <input name=referrer type=hidden value="{{ referrer }}">
        <input name=id type=hidden value="{{ id }}">
        <textarea id='search_result' name='new_text' rows={{rows}}  title='new text' type='text'>{{ new_text }}</textarea>
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <input name=edit_token type=hidden value="{{ edit_token }}">
        <br />
        <table class="avviso_modifica">
          <tr>
            <td><img alt="Emblem-important.svg" src="../app/img/Emblem-important.png" width="60" height="60"/></td>
            <td>
              <ul>
                <li> <strong>RESPONSABILITÀ</strong>: la responsabilità civile e penale sui contributi è tua e il tuo nome utente verrà <a href="http://it.wikipedia.org/wiki/Wikipedia:Politica_relativa_alla_privacy" title="Wikipedia:Politica relativa alla privacy">registrato</a>.</li>
                <li> <strong>ALTRE NOTIZIE</strong>: da aggiungere qui.</li>
              </ul>
              (ulteriori <a id="wikipedia-info" href="#">informazioni</a>)
              <div id="wikipedia-edit-info">
                <ul>
                  <li> <strong>ATTENZIONE</strong>: <strong><span style="text-decoration: underline; color: #A80000;">NON COPIARE</span></strong> materiale già pubblicato altrove (né cartaceo, né digitale): rispetta il <a href="http://it.wikipedia.org/wiki/Wikipedia:Copyright" title="Wikipedia:Copyright">diritto d'autore</a>! Se il testo è opera tua ma è già pubblicato, <a href="http://it.wikipedia.org/wiki/Wikipedia:CONCEDI" title="Wikipedia:CONCEDI">invia l'autorizzazione</a> necessaria <em>prima di pubblicarlo</em>.</li>
                  <li> <strong>FONTI</strong>: basa i contributi su <a href="http://it.wikipedia.org/wiki/Wikipedia:FA" title="Wikipedia:FA">fonti attendibili</a> e <a href="http://it.wikipedia.org/wiki/Wikipedia:V" title="Wikipedia:V">verificabili</a>: <a href="http://it.wikipedia.org/wiki/Wikipedia:Cita_le_fonti" title="Wikipedia:Cita le fonti">cita le fonti</a>!</li>
                  <li> <strong>CONTENUTI</strong>: leggi <a href="http://it.wikipedia.org/wiki/Aiuto:Cosa_mettere_su_Wikipedia" title="Aiuto:Cosa mettere su Wikipedia">cosa è adatto mettere su Wikipedia</a>. Per fare delle prove, usa la <a href="http://it.wikipedia.org/wiki/Wikipedia:Pagina_delle_prove" title="Wikipedia:Pagina delle prove">pagina di prova</a>.</li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
        <br />
        <input id='submit_button' type='submit' value='Salva' />
        <button id='test_button' onclick="test_edit()">Test</button>
        <p>È possibile modificare Wikipedia come utente anonimo, copiando il testo nella casella soprastante e inserendola <a href="https://it.wikipedia.org/w/index.php?title={{title}}&action=edit&section={{section}}">direttamente su Wikipedia</a>.
    </form>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="../app/js/app/preview.js"></script>
</body>
</html>