<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wikipedia-tags-in-OSM</title>
    <link rel="stylesheet" type="text/css" href="../app/css/style.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>
<body>
  <div id="app-popup-preview" class="app-popup">
    <a href="javascript:void(0)" class="close"></a>
    <div id="app-popup-preview-container" class="app-popup-container">Container</div>
  </div>

  <header class="main-header">
    <div class="container">
      <h1>Inserimento in Wikipedia</h1>
      <p class="subtitle"><strong>nella voce di Wikipedia: {{ title.replace('_', ' ')|unquote }}</strong></p>
      <p>È possibile spostare il marker rosso nella posizione desiderata, altrimenti verrà 
         utilizzata la posizione del centroide dell'oggetto.</p>
    </div>
  </header>

  <section>
    <div class="container">
      {{ difftable }}
    </div>
  </section>
  
  <h2>Nuovo testo</h2>

  <div class="container">
    <form id='saveform' class='inputform' method="post" action="../app/edit">
        <input name=title type=hidden value="{{ title|unquote }}">
        <input name=section type=hidden value="{{ section }}">
        <input name=referrer type=hidden value="{{ referrer }}">
        <textarea id='search_result' name='new_text' rows={{rows}}  title='new text' type='text'>{{ new_text }}</textarea>
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <input name=edit_token type=hidden value="{{ edit_token }}">
        <br />
        <input id='submit_button' type='submit' value='Salva' />
        <button id='test_button' onclick="test_edit()">Test</button>
    </form>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="../app/js/app/preview.js"></script>
</body>
</html>