{% extends 'base.html' %}
{% block title %}Successo{% endblock %}

{% block header %}Ben fatto!{% endblock %}

{% block content %}
  Hai modificato la pagina: <strong><em><a href="http://it.wikipedia.org/wiki/{{title}}">{{ title.replace('_', ' ')|unquote }}</a></em></strong> su Wikipedia in Italiano.<br />
  (La modifica ha oggetto: <em>"{{summary}}"</em> )

  <a class="app-popup" href="javascript:void(0)">Chiudi</a> la finestra{% if referrer %} o <a href="{{referrer}}#{% if id %}{{id}}{% endif %}">ritorna alla lista</a>{% endif %}.
{% endblock %}
