{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
{% endblock %}

{% block title %}Seleziona le coordinate{% endblock %}

{% block body %}
<body>
  <div id="body-wrapper">
    <div id="app-popup-map" class="app-popup">
      <a href="javascript:void(0)" class="close" id="close-button"></a>
      <div id="app-popup-map-container" class="app-popup-container">Container</div>
    </div>

    <header class="main-header">
      <div class="container">
        <h1>Inserisci le coordinate dalla mappa</h1>
        <p class="subtitle"><strong>nella voce di Wikipedia: {{ title.replace('_', ' ') }}</strong></p>
        <p>È possibile spostare il marker rosso nella posizione desiderata, altrimenti verrà 
           utilizzata la posizione del centroide dell'oggetto.</p>
      </div>
    </header>

    <script>
      var lat = {{ lat }};
      var lon = {{ lon }};
      var title = '{{ title }}';
      var dim = {{ dim }};
      var referrer = '{{ referrer }}';
      var id = '{{ id }}';
    </script>
    <a name="top"></a>

    <section>
      <div id="map_canvas"></div>

      <div>
        Latitudine: <span id="final-lat">{{ lat|round(6) }}</span> <br />
        Longitudine: <span id="final-lon">{{ lon|round(6) }}</span> <br />
      </div>
    </section>

    <section>
      <div id="box-left" class="box">
          <a class="wiki-user-edit" href="../app/preview?title={{title|safe}}&lat={{lat}}&lon={{lon}}&dim={{dim}}{% if referrer %}&ref={{referrer}}{% endif %}{% if id %}&id={{id}}{% endif %}">
          <span class="wiki_user_edit"><img src="../app/img/icon_add_green.png" title="Aggiungi le coordinate su Wikipedia (anteprima)" class="addWikipediaIcon" alt="Aggiungi"/></span></a> aggiungi queste coordinate su Wikipedia usando il tuo nome utente.
      </div>
      <div id="box-right" class="box">
          <a class="wiki-anon-edit" href="../app/anon-edit?title={{title|safe}}&lat={{lat}}&lon={{lon}}&dim={{dim}}{% if referrer %}&ref={{referrer}}{% endif %}{% if id %}&id={{id}}{% endif %}">
          <span class="wiki_anon_edit"><img src="../app/img/icon_add_orange.png" title="Aggiungi le coordinate su Wikipedia (anteprima)" class="addWikipediaIcon" alt="Aggiungi"/></span></a> aggiungi queste coordinate su Wikipedia anonimamente.
      </div>
    </section>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script src="../app/js/app/wikimap.js" type="text/javascript"></script>
  </div>
</body>
{% endblock body %}
