{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
{% endblock %}

{% block title %}Seleziona le coordinate{% endblock %}

{% block body %}
<body>
  <div id="body-wrapper">
    <div id="app-popup-map" class="app-popup">
      <a href="javascript:void(0)" class="close" id="close-button"></a>
      <div id="app-popup-map-container" class="app-popup-container">Container</div>
    </div>

    <header class="main-header">
      <div class="container">
        <h1>Inserisci le coordinate dalla mappa</h1>
        <p class="subtitle"><strong>nella voce di Wikipedia: {{ title.replace('_', ' ')|unquote }}</strong></p>
        <p>È possibile spostare il marker verde nella posizione desiderata, altrimenti verrà
           utilizzata la posizione del centroide dell'oggetto, indicata dal marker blu.</p>
        <p>Utilizza il pulsante di controllo in alto a destra nella mappa se vuoi cambiarne lo stile, puoi
          scegliere se visualizzare la posizione del centroide dell'oggetto in OSM (marker blu).</p>
      </div>
    </header>

    <script>
      var lat = {{ lat }};
      var lon = {{ lon }};
      var title = '{{ title }}';
      var dim = {{ dim }};
      var referrer = '{{ referrer }}';
      var id = '{{ id }}';
      var osm_id = [{{ ', '.join(osm_id) }}];
      var osm_type = {{ osm_type| jsondumps | safe }};
    </script>
    <a name="top"></a>

    <section>
      <div id="map_canvas" style="min-height: 400px; height: 80%;"></div>

      <div>
        Latitudine: <span id="final-lat">{{ lat|round(6) }}</span> <br />
        Longitudine: <span id="final-lon">{{ lon|round(6) }}</span> <br />
      </div>
    </section>

    <section>
      <div id="box-left" class="box">
          <a class="wiki-edit" id="wiki-edit-user" href="../app/preview?title={{title|unquote}}&lat={{lat}}&lon={{lon}}&osm_id={{','.join(osm_id)}}&osm_type={{','.join(osm_type)}}&dim={{dim}}{% if referrer %}&ref={{referrer}}{% endif %}{% if id %}&id={{id}}{% endif %}">
          <span class="wiki_user_edit"><img src="../app/img/icon_add_green.png" title="Aggiungi le coordinate su Wikipedia (anteprima)" class="addWikipediaIcon" alt="Aggiungi"/></span></a> aggiungi queste coordinate su Wikipedia usando il tuo nome utente.
      </div>
      <div id="box-right" class="box">
          <a class="wiki-edit" id="wiki-edit-anon" href="../app/anon-edit?title={{title|unquote}}&lat={{lat}}&lon={{lon}}&osm_id={{','.join(osm_id)}}&osm_type={{','.join(osm_type)}}&dim={{dim}}{% if referrer %}&ref={{referrer}}{% endif %}{% if id %}&id={{id}}{% endif %}">
          <span class="wiki_anon_edit"><img src="../app/img/icon_add_orange.png" title="Aggiungi le coordinate su Wikipedia (anteprima)" class="addWikipediaIcon" alt="Aggiungi"/></span></a> aggiungi queste coordinate su Wikipedia anonimamente.
      </div>
    </section>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script type="text/javascript" src="../app/js/app/wikimap.js"></script>
    <script type="text/javascript" src="../app/js/app/preview.js"></script>
  </div>
</body>
{% endblock body %}
